# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Python dependency files
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# dotenv
.env
.env.*

# Database or data dumps
*.sqlite3
*.db

# Docker
*.pid
*.tar

# Coverage reports
htmlcov/
.coverage
coverage.xml

# System files
Thumbs.db
Desktop.ini